@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.MuiFormControl-root {
	width: 140px;
}

.MuiButton-root {
	width: 100%;
}

.bDRYnt {
	padding: 2rem 1.5rem 1.8rem 1rem !important;
}
